<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.example.mapper.UserMapper">
    <select id="selectAll" resultType="org.example.model.entity.User">
        SELECT * FROM users
    </select>
    
    <insert id="insertUser" parameterType="org.example.model.entity.User">
            INSERT INTO users 
                (username, password, email, register_time) 
            VALUES 
                (#{username}, #{password}, #{email}, #{registerTime}) 
    </insert>
    
    <select id="selectPassword">
        SELECT password FROM users WHERE email = #{email}
    </select>
</mapper>
